
.container__body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px 20px;
    margin-top: 24px;
}

.container__margin {
    .container__body {
        margin-top: 60px;
    }
}

.container__footer {
    margin-top: 48px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.container__body_notFound {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 992px) {
    .container__body {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .container__body {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 576px) {
    .container__body {
        grid-template-columns: repeat(1, 1fr);
    }
}